<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
        integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
        crossorigin="anonymous">

    <title>Monitoring status pages</title>
    <style> .site-block{ font-family: Gill Sans, Verdana; text-transform: uppercase; letter-spacing: -2px; font-size:200%; border-radius: 5px; text-align:left; color: white;  height:40px; margin-top: 1px; cursor:pointer;}</style>
</head>
<body>
        <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Home</a>
                <a class="navbar-brand" href="#">Some page</a>

            </div>
        </div>
        </nav>


    <div class="container">
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['sfx'] }};' onclick=window.open('https://signalfx.statuspage.io')>SignalFX</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['redis'] }};' onclick=window.open('https://status.redislabs.com')>Redis</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['papertrail'] }};' onclick=window.open('https://www.papertrailstatus.com')>Papertrail</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['pd'] }};' onclick=window.open('https://status.pagerduty.com')>Pager Duty</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['github']}};' onclick=window.open('https://www.githubstatus.com')>Github</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['npm'] }};' onclick=window.open('https://status.npmjs.org')>NPM</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['spotinst']}};' onclick=window.open('http://status.spotinst.com')>Spotinst</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['tab'] }};' onclick=window.open('https://trust.tableau.com')>Tableau</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['atl_dev'] }};' onclick=window.open('https://developer.status.atlassian.com')>Atlassian Dev</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['atl'] }};' onclick=window.open('https://status.atlassian.com')>Atlassian</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['slack'] }};' onclick=window.open('https://status.slack.com')>Slack</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['fb'] }};' onclick=window.open('https://developers.facebook.com/status/dashboard/')>Facebook</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['gcp'] }};' onclick=window.open('https://status.cloud.google.com')>Google Cloud Platform</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 site-block' style='background-color: {{ RESPONSES['cloudflare'] }};' onclick=window.open('https://www.cloudflarestatus.com')>Cloudflare</div>
            <div class='col-sm-4'></div>
        </div>
        <div class="row">
            <div class='col-sm-4'></div>
            <div class='col-sm-4 '>{{ RESPONSES }}</div>
            <div class='col-sm-4'></div>

        </div>
    </div> <!-- /.container -->
</body>

</html>